* {
  margin: 0;
  padding: 0;
}

:root {
  --nav-height: 3vh;
  --infobox-height: 1vh;
  --scroll-ratio: 0;
}

main {
  display: grid;
}

nav {
  position: fixed;
  width: 100%;
  /* height: var(--nav-height); */
  box-sizing: border-box;
  background-color: #fff;
}

#scrollinfo {
  position: fixed;
  width: calc(var(--scroll-ratio) * 100%);
  top: var(--nav-height);
  background-color: red;
}

.the_container {
  margin-top: calc(var(--nav-height) + var(--infobox-height));
  /* 아래 줄 없으면 scroll-behavior: smooth, 상단 nav, #scrollinfo position: fixed 적용 안됨 */
  height: calc(100vh - var(--nav-height) - var(--infobox-height));
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */

  /* SLOWER and FASTER exercise */
  perspective: 2px;
}

.the_container section {
  /* make section tag showing on screen fully */
  height: calc(100vh - var(--nav-height) - var(--infobox-height));
  overflow: hidden;
  scroll-snap-align: start end;
}

.the_container section h1 {
  font: 320px Arial;
}

#section_1 {
  background-color: #88ff00;
}
#section_2 {
  background-color: #00ff88;
}
#slower {
  position: absolute;
  transform: translateZ(-1px) scale(1.5);
  color: yellow;
  font-size: 36px;
}
#faster {
  position: absolute;
  transform: translateZ(1px) translateX(400px) scale(1.5);
  color: red;
  font-size: 36px;
}
#section_3 {
  background-color: #52e7ce;
}
#section_4 {
  background-color: #5e9eda;
}
#section_5 {
  background-color: #7758e7;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
.the_container::-webkit-scrollbar {
  display: none;
}
