* {
  margin: 0;
  padding: 0;
}

* {
  outline: 1px solid hotpink;
  outline-offset: -1px;
}

main {
  display: grid;
}

article {
  min-width: 350px;
  border: 2px solid black;
  padding: 5px 10px;
  margin: 5px 10px;
}

fieldset {
  padding: 10px 0 10px 10px;
}

fieldset#main {
  padding: 30px 20px;
  max-width: 350px;
}

fieldset#main > legend {
  font-size: x-large;
}

#postForm > * {
  display: block;
}

#postForm > p,
#postForm > fieldset {
  margin-bottom: 15px;
}

.invalid {
  border: 2px solid red;
}

input + p {
  display: none;
}
input.invalid + p {
  display: block;
}

.hidden {
  display: none;
}
