* {
  margin: 0;
  padding: 0;
}

section {
  position: absolute;
}

section#original {
  z-index: 0;
  left: 237.5px;
  top: 156px;
}

section#zoomed {
  z-index: 0;
  left: 237.5px;
  top: 156px;
  transform: scale(1.5);
  /* display: none; */
}

/* circle {
  display: none;
} */
