body {
  margin: 0;
  padding: 0;
}

#select_mode {
  display: inline-flex;
}

.color_box {
  width: 200px;
  height: 200px;
  border: 3px black solid;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  display: inline-flex;
}

.color_detail {
  width: 200px;
  height: 70px;
  margin-right: 10px;
  display: inline-block;
}

#color_palette_detail {
  border: 1px black solid;
}

#color_palette_pick {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}
